.wrapper-switch {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 115px;

  span {
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

.switch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .numbers {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 0.9rem;
  }

  .switcher-container {
    background-color: var(--keypad-background);
    width: 100%;
    min-width: 50px;
    min-height: 20px;
    border-radius: 2rem;
    position: relative;
    z-index: 20;
    cursor: pointer;

    .switcher {
      width: 13px;
      height: 13px;
      min-height: 13px;
      background-color: var(--key2-background);
      border-radius: 2rem;
      position: absolute;
      //${(props) => props.theme};
      top: 17%;
      transition: all 0.1s linear;
    }
  }
}

> div:first-of-type {
  width: 80%;
  font-size: 0.65rem;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
