.wrapper-keypad {
  display: grid;
  grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(50px, 1fr) minmax(
      50px,
      1fr
    );
  background-color: var(--keypad-background);
  padding: 1.5rem;
  gap: 1rem 0.7rem;
}
