.app {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-background);
}

.container {
  width: 100%;
  max-width: 767px;
  padding: 1.5rem;
  font-size: 34px;
}

header {
  display: flex;
  justify-content: space-between;
  color: var(--text1);
}
